@tailwind base;
@tailwind components;
@tailwind utilities;

.scene {
    display: inline-block;
}

.box {
    transition: transform 0.5s ease-in;
}

.box2 {
    top: -50%;
    left: 0px;
    transition: all 0.5s ease-in;
    transform: translateY(0px);
    visibility: hidden;
    opacity: 0;
}

.scene:hover .box {
    transform: perspective(900px) translateY(-5%) rotateX(60deg) translateZ(0);
    cursor: pointer;
}

.scene:hover .box2 {
    transform: translate3d(0%, -55px, 100px);
    cursor: pointer;
    visibility: visible;
    opacity: 1;
}


.boxx {
    display: inline-block;

    .card {
        transition: all 0.5s ease-in;
    }

    &:hover {
        .card {
            transform: perspective(20px) rotateX(2deg) translateY(-50px);
            opacity: 0.5;
            cursor: pointer;
        }
    }
}

.card2 {
    width: 350px;
    height: 350px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
    cursor: pointer;

    .title {
        width: 100%;
        transition: all 0.5s;
    }

    .character {
        width: 100%;
        opacity: 0;
        position: absolute;
        z-index: -1;
        transition: all 0.5s;
    }

    .wrapper {
        transition: all 0.5s;
        position: absolute;
        width: 100%;
        z-index: -1;
        &::before,
        &::after {
            content: '';
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            transition: all 0.5s;
            left: 0;
        }

        &::before {
            top: 0;
            height: 100%;
            background-image: linear-gradient(to top, transparent 46%, rgb(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
        }

        &::after {
            bottom: 0;
            opacity: 0;
            background-image: linear-gradient(to bottom, transparent 46%, rgb(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
        }

        .cover-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &:hover .wrapper {
        transform: perspective(900px) translateZ(0px) rotateX(25deg) translateY(-5%);
        box-shadow: 0px 35px 32px -8px rgb(0, 0, 0, 0.75);
    }
    &:hover .title {
        transform: translate3d(0%,-50%,100px);
    }
    &:hover .wrapper::after,
    &:hover .wrapper::before {
        opacity: 1;
    }
    &:hover .wrapper::after {
        height: 120px;
    }
    &:hover .wrapper::before {
        opacity: 1;
    }
    &:hover .character {
        transform: translate3d(0%,-30%,-100px);
        opacity: 1;
    }
}