<header class="bg-white shadow-sm">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center py-4">
      <%- include('../partials/navbar.ejs') %>
    </div>
  </div>
</header>
