<div class="block">
  <nav>
    <ul class="flex justify-evenly flex-wrap gap-6 font-medium ">
      <li class="">
        <a href="/">HOME</a>
      </li>
      <li>
        <a href="/">ABOUT</a>
      </li>
      <li class="group relative">
        <a href="/">MAJOR</a>
        <ul
          class="absolute w-52 top-10  invisible transition-all duration-300 
                translate-y-6 group-hover:visible group-hover:translate-y-0
                text-left rounded-md shadow-md overflow-hidden z-20 bg-white"
        >
          <li class="px-2 py-3 transition-all duration-300 hover:pl-3 hover:bg-red-600 hover:text-slate-50">
            <a href="/">Information technology</a>
          </li>
          <li class="px-2 py-3 transition-all duration-300 hover:pl-3 hover:bg-red-600 hover:text-slate-50">
            <a href="/">Accountant</a>
          </li>
          <li class="px-2 py-3 transition-all duration-300 hover:pl-3 hover:bg-red-600 hover:text-slate-50">
            <a href="/">Business administration</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/">NEWS</a>
      </li>
      <li>
        <a href="/">SCHEDULE</a>
      </li>
      <li>
        <a href="/">CONTACT</a>
      </li>
      <li>
        <a href="/">REGISTER</a>
      </li>
    </ul>
  </nav>
</div>
