<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <script src="/js/swiper-bundle.min.js"></script>
  </head>
  <body class="mx-auto">
    <%- include('../partials/header.ejs') %>

    <main><%- body %></main>

    <%- include('../partials/footer.ejs') %>
  </body>
  <script src="/js/main.js"></script>
</html>
