<div class="container mx-auto">
  <div class="boxx">
    <div
      class="bg-[url('../image/sky.jpg')] w-72 h-72 shadow-md m-6 rounded-md shadow-slate-800 bg-cover bg-center card">
    </div>
  </div>
</div>

<div class="container mx-auto">
  <div class="card2">
    <div class="wrapper">
      <img class="cover-image" src="./image/Malzahar.jpg" />
    </div>
    <img class="title" src="./image/dark_rider-title.png" />
    <img class="character" src="./image/result_template.png" />
  </div>
</div>

<!-- 
<div
  class="group relative flex w-[800px] h-[800px] cursor-pointer items-end justify-center px-[36px] mx-[50px] [perspective:2500px]"
>
  <div
    class="absolute inset-0 -z-10 h-full w-full transition-all duration-500 group-hover:[transform:perspective(900px)_translateZ(0px)_rotateX(25deg)_translateY(-5%)] group-hover:shadow-[0px_35px_32px_-8px_rgb(0,0,0,0.75)]
           before:absolute before:left-0 before:top-0 before:h-full before:w-full before:opacity-0 before:transition-all before:duration-500 before:content-[''] before:bg-[linear-gradient(to_top,transparent_46%,rgb(12_13_19_/_0.5)_68%,rgb(12_13_19)_97%)] group-hover:before:opacity-100
           after:absolute after:bottom-0 after:left-0 after:h-full after:w-full after:opacity-0 after:transition-all after:duration-500 after:content-[''] after:bg-[linear-gradient(to_bottom,transparent_46%,rgb(12_13_19_/_0.5)_68%,rgb(12_13_19)_97%)] group-hover:after:h-[120px] group-hover:after:opacity-100"
  >
    <img
      class="h-full w-full object-cover"
      src="./image/dark_rider-cover.jpg"
    />
  </div>

  <img
    class="w-full transition-all duration-500 group-hover:[transform:translate3d(0,-50%,100px)]"
    src="./image/dark_rider-title.png"
  />

  <img
    class="absolute bottom-0 -z-10 w-full opacity-0 transition-all duration-500 group-hover:opacity-100 group-hover:[transform:translate3d(0,-30%,-100px)]"
    src="./image/dark_rider-character.webp"
  />
</div> -->