<div class="container mx-auto py-10">
  <div class="text-center text-base/10">
    <h4 class="text-3xl font-bold text-slate-700"><%= heading.head %></h4>
    <h6 class="text-xl font-thin text-slate-400"><%= heading.tit %></h6>
  </div>
</div>