<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-6">Danh sách tin tức</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6">
    <% newsItems.forEach(newsItem=> { %>
      <%- include('./news-card.ejs', {newsItem}) %>
        <% }); %>
  </div>
  <div class="mt-8">
    <%- include('./pagination.ejs') %>
  </div>
</div>