<div><%- include('./components/carousel.ejs',{carousels: carousels}) %></div>
<div><%- include('./components/majorsnote.ejs',{majorsnotes: majorsnotes}) %></div>
<div><%- include('./components/cardnumber.ejs',{cardnumbers: cardnumbers}) %></div>
<div><%- include('./components/feedback.ejs',{feedbacks: feedbacks}) %></div>

